@use 'base/mixins' as m;
@use 'base/variables' as v;

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo, .about
    {
        margin-top: 7rem;
        margin-bottom: 3rem;
    }

    .about
    {
        text-transform: lowercase;
        font-size: 1.5rem;
        a
        {

            color: v.$coral;
            font-weight: bold;
        }
    }

}