@use 'base/mixins' as m;
@use 'base/variables' as v;

form
{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(250,229,223,1) 100%); 
    background-repeat: no-repeat;
}

.formulario
{
    margin-top: 5rem;
    margin-bottom: 5rem;
    .contenedor
    {
        h1 
        {
            font-family: v.$titulo;
            text-align: center;
            margin-bottom: 3rem;
        }
        h3 
        {
            font-family: v.$titulo;
        }
        label 
        {
            font-family: v.$fuente_principal;
        }
        display: flex;
        flex-direction: column;
        gap: 2rem;
        select 
        {
            font-family: v.$fuente_principal;
            background-color: #ed7966;
            color: v.$blanco;
            cursor: pointer;
            padding: 1.5rem;
            border-radius: 1rem;
            border: none;
            transition: all 500ms;
            &:hover 
            {
                background-color: #d36b5b;
                scale: 1.02;
            }
        }
        button 
        {
            font-family: v.$fuente_principal;
            margin-bottom: 4rem;
            font-family: v.$fuente_principal;
            background-color: #303179;
            color: v.$blanco;
            cursor: pointer;
            padding: 1.5rem;
            border-radius: 1rem;
            border: none;
            transition: all 500ms;
            &:hover 
            {
                background-color: #24255a;
                scale: 1.02;
            }
        }
    }
}